/* style.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #141414, #222222);
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

header h1 {
    font-size: 2rem;
    color: #ff00ee;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

main {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#menu {
    width: 30%;
    background-color: #1a1a1a;
    padding: 20px;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.7);
    overflow-y: auto;
}

#menu h2 {
    font-size: 1.5rem;
    color: #00ffcc;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

#parts-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2c2c;
    border: 2px solid #00ffcc;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.menu-item:hover {
    transform: scale(1.05);
    background-color: #333333;
}

.menu-item img {
    width: 50px; /* Taille fixe pour les icônes */
    height: 50px; /* Assure une taille carrée */
    border-radius: 5px; /* Coins légèrement arrondis */
    margin-bottom: 5px; /* Réduit l'espacement en bas */
}


.menu-item p {
    font-size: 1rem;
    margin: 0 0 10px;
}

.menu-item button {
    background-color: #3c00ff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-item button:hover {
    background-color: #3c00ff;
}

#scene-container {
    width: 70%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

footer {
    background-color: #1f1f1f;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    color: #aaa;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.7);
}
